---
import { Post } from '../interfaces/post';
import PostLink from '../components/PostLink.svelte';

export interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<div class="shadow-md m-5 p-5">
    <div>
        <h1>{post.title}</h1>
        <p class="mt-3 mb-3">{post.body}</p>
        <hr>
        <PostLink client:visible userId={post.userId} postId={post.id}/> 
    </div>
</div>